patcher.sh
hid
*.db
prizepool.dat
*.cmake
*.qmlc
*parameters
moc*
CMakeLists.txt.*
*.cbp
*.orig
CMakeScripts/*
Zeus.build/*
Zeus.xcodeproj/*
.zeus/*
out/*
*.swp
*.o
*_lod?.png
.*
!.gitlab-ci.yml
*.a
*.dylib
*.so
*.exe
*.dll
CMakeFiles
CMakeScripts
CMakeCache.txt
*.cmake
*~
CMakeOutput.log
bin
lib
Makefile
tags
compile_commands.json
Debug
Release
*.log*
doxygen
nbproject
*.kdev4
types_*.taghl
/build/
*.xcodeproj
*.pyc
*.vp
*.tar
*.pid
*.bak
*.pc

Thumbs.db
*.cbp
*.layout
*.xcf
*.psd

*.7z
*.rar
*.zip
*.gz
*.bz2
*.patch

# As CodeBlocks may try to build with studio.
*.vcxproj*
*.sln

cmake.local

test_clients.json
config.json

# we need reference configs
!regions/*/.config
data/config/lang.lua
data/config/plugins.lua
data/version
templates/menu*.lua
templates/resources*.lua
templates/providers.lua

hasp

static_analyzer_report

log.txt

inc/proto/
proto/*.pb.cc
proto/*.pb.h
tickets/*

libprotobuf*

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

lib*.so*
Makefile*
*.pb.*
*.ug
*.LMF
*.r0
*.cu
